#circle {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  overflow: hidden;
  position: relative;
  border: 1px solid black;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
}
/* 
#profile-picture img {
  position: absolute;
  left: -20px;
} */
